@tailwind base;
@tailwind components;
@tailwind utilities;

/* small utilities for salt & pepper theme */
:root {
  --bg-salt: #f7f7f7;
  --text-pepper: #121214;
  --muted: #9ca3af;
}

body {
  background-color: var(--bg-salt);
  color: var(--text-pepper);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body.modal-open {
  overflow: hidden;
}
