@tailwind base;
@tailwind components;
@tailwind utilities;

/* small utilities for salt & pepper theme */
:root {
  --bg-salt: #f7f7f7;
  --text-pepper: #121214;
  --muted: #9ca3af;
}

body {
  background-color: var(--bg-salt);
  color: var(--text-pepper);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
